aplicacoes/gpa-pesquisa/.metadata
aplicacoes/gpa-pesquisa/.settings
aplicacoes/gpa-pesquisa/.classpath
aplicacoes/gpa-pesquisa/.project
aplicacoes/gpa-pesquisa/target
*.class
*.jar
*.war
*.ear
*.log
*.project
