.container{
	margin:auto;
}

#header-page{
	background-color:#0064A1;
	padding-top:20px;
	padding-bottom:20px;
}

#footer{
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #eee;
}

#text-ufc{
	margin-top:20px;
	
	
}

.controls{
	width:50%;
}

.acoes{
	margin-top:5%;
}
