<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans          
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
		   http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:property-placeholder location="classpath:notification.properties" 
		/> 

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="dev" />
		<property name="dataSource" ref="gpa_pesquisa" />
	</bean>
	<bean id="gpa_pesquisa" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/gpa_pesquisa" />
	</bean>
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<!-- <property name="maxUploadSize" value="100000"/> -->
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="${email}" />
		<property name="password" value="${senha}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="notificationService" class="ufc.quixada.npi.gpa.service.NotificationService">
		<property name="observadores">
			<list>
				<bean name="emailObserver" class="ufc.quixada.npi.gpa.observer.EmailObserver"></bean>
				<bean name="logObserver" class="ufc.quixada.npi.gpa.observer.LogObserver"></bean>
			</list>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager"
		proxy-target-class="true" />

	<context:annotation-config />
	<context:component-scan base-package="ufc.quixada.npi.gpa.repository" />
	<context:component-scan base-package="ufc.quixada.npi.gpa.service" />
	<context:component-scan base-package="ufc.quixada.npi.gpa.controller" />
</beans>